aniso8601==3.0.0
click==6.7
configobj==5.0.6
Flask==2.3.2
Flask-API==1.0
Flask-Cors==3.0.9
flask-restplus==0.10.1
Flask-SQLAlchemy>=2.3.2
itsdangerous==0.24
Jinja2>=2.10
jsonschema==2.6.0
MarkupSafe==1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.4
six==1.11.0
SQLAlchemy>=1.2.7
Werkzeug>=0.14.1
